<ion-view ng-controller="TrackerController" hide-nav-bar="true">
  <ion-content class="has-tabs-top" has-header="false">
    <leaflet id="map" defaults="defaults" lf-center="gent" paths="paths" markers="markers" geojson="geojson" tiles="tiles" width="100%" height="{{height}}"></leaflet>
    <div class="row responsive-sm">
      <div class="col" style="margin: 0;">
        <div class="col" style="margin: 0;">
          <div class="row">
            <h2 class="center">Tijd</h2>
          </div>
          <div class="row">
            <h3 class="center">{{tracker.stopwatch.hours}}:{{tracker.stopwatch.minutes}}:{{tracker.stopwatch.seconds}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin: 0;">
            <div class="row">
              <h3 class="center">Afstand</h3>
            </div>
            <div class="row">
              <h4 class="center">
                {{tracker.distance}} km
              </h4>
            </div>
          </div>
          <div class="col" style="margin: 0;">
            <div class="row">
              <h3 class="center">Tempo</h3>
            </div>
            <div class="row">
              <h4 class="center">
                {{tracker.speed}} km/u
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="button button-block button-balanced" style="margin: 0;" ng-hide="tracker.tracking" ng-click="tracker.toggle()">
        <h1>Go!</h1>
      </button>
      <button class="button button-block button-assertive" style="margin: 0;" ng-show="tracker.tracking" ng-click="tracker.toggle()">
        <h1>Stop!</h1>
      </button>
    </div>
  </ion-content>
</ion-view>
