<ion-view>
<ion-tabs class="tabs-icon-top tabs-royal tabs-color-active-light">
  <ion-tab title="Tracker" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" href="#/tab/tracker">
    <ion-nav-view name="tab-tracker" hide-nav-bar="true"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Prestaties" icon-off="ion-stats-bars" icon-on="ion-stats-bars" ui-sref="tab.performance.personal">
    <ion-nav-view name="tab-performance" hide-nav-bar="true"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Reminders" icon-off="ion-ios-bell" icon-on="ion-ios-bell" href="#/tab/settings">
    <ion-nav-view name="tab-settings" hide-nav-bar="true"></ion-nav-view>
  </ion-tab>
</ion-tabs>
</ion-view>
