<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Tracker" icon-off="ion-android-stopwatch" icon-on="ion-android-stopwatch" href="#/tab/tracker">
    <ion-nav-view name="tab-tracker"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Prestaties" icon-off="ion-stats-bars" icon-on="ion-stats-bars" ui-sref="tab.performance.personal">
    <ion-nav-view name="tab-performance"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Instellingen" icon-off="ion-android-settings" icon-on="ion-android-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
