<ion-view hide-nav-bar="true">
  <ion-content id="groups" class="padding has-tabs-top">
    <div ng-style="{height: {{group.tabsHeight}} + 'px'}" class="button-bar">
      <a class="button" ng-class="{'button-royal': group.isActiveTab(0)}" ng-click="group.goToTab(0)">School</a>
      <a class="button" ng-class="{'button-royal': group.isActiveTab(1)}" ng-click="group.goToTab(1)">Faculteit</a>
      <a class="button" ng-class="{'button-royal': group.isActiveTab(2)}" ng-click="group.goToTab(2)">Vereniging</a>
    </div>
    <ion-scroll ng-style="{height: {{group.listHeight}} + 'px'}" zooming="false" direction="y" style="height: 100px">
      <ion-list class="list padding">
        <ion-item class="item" ng-repeat="team in group.listTeams[group.index]">
          <span class="align-left">{{$index + 1}}. {{team.name}}</span>
          <span class="align-right">{{team.distance | number: 2}} km</span>
        </ion-item>
      </ion-list>
    </ion-scroll>
    <div ng-style="{height: {{group.dropdownHeight}} + 'px'}" class="list">
      <label ng-style="{height: ({{group.dropdownHeight}} - 10)  + 'px'}" class="item item-input item-select">
        <select class="customDropdown" ng-model="group.userTeams[group.index]" ng-options="team.name for team in group.dropdownTeams[group.index] | orderBy: 'name'" ng-change="group.saveTeams()">
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
