<ion-view hide-nav-bar="true">
  <ion-content class="padding has-tabs-top ion-content-personal">
    <div class="button-bar">
      <a class="button" ng-class="{'button-royal': group.isActive('sch')}" ng-click="group.goToSchool()">School</a>
      <a class="button" ng-class="{'button-royal': group.isActive('fac')}" ng-click="group.goToFaculty()">Faculteit</a>
      <a class="button" ng-class="{'button-royal': group.isActive('ass')}" ng-click="group.goToAssociation()">Vereniging</a>
    </div>
    <ion-list class="list padding">
      <ion-item class="item" ng-repeat="school in group.schools">
        <span class="align-left">{{school.nr}}. {{school.school}}</span>
        <span class="align-right">{{school.km}} km</span>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline" ng-click=""></button>
    </div>

    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-plus-outline" ng-click=""></button>
    </div>
  </ion-footer-bar>
</ion-view>
