<ion-view  style="margin: 0;">
  <ion-content class="padding has-tabs-top ion-content-personal"  style="margin: 0;">
    <div class="button-bar">
      <a class="button" ng-class="{'button-royal': personal.isActive('day')}" ng-click="personal.goToDay()">Dag</a>
      <a class="button" ng-class="{'button-royal': personal.isActive('week')}" ng-click="personal.goToWeek()">Week</a>
      <a class="button" ng-class="{'button-royal': personal.isActive('year')}" ng-click="personal.goToYear()">Jaar</a>
    </div>

    <ul class="list padding"  style="margin: 0;">
      <li class="item item-button-right">
        {{personal.dis}}
        km
        <span class="newData" ng-show="personal.new.dis !== 0 && personal.isActive('day')"> + {{personal.new.dis}} km</span>
        <!--<button class="button ion-chevron-right" ng-click="personal.goToDistance()"></button>-->
      </li>
      <li class="item item-button-right">
        {{personal.tim | msToTimeFilter}}
        <span class="newData" ng-show="personal.new.tim !== 0 && personal.isActive('day')"> + {{personal.new.tim | msToTimeFilter}}</span>
        <!--<button class="button ion-chevron-right" ng-click="personal.goToTime()"></button>-->
      </li>
      <li class="item item-button-right">
        {{personal.spe}}
        km/u
        <span class="newData" ng-show="personal.new.spe !== 0 && personal.isActive('day')"> {{personal.new.spe}} km/u</span>
        <!--<button class="button ion-chevron-right" ng-click="personal.goToSpeed()"></button>-->
      </li>
      <li class="item item-button-right">
        {{personal.cal}}
        kcal
        <span class="newData" ng-show="personal.new.cal !== 0 && personal.isActive('day')"> {{personal.new.cal}} kcal</span>
        <!--<button class="button ion-chevron-right" ng-click="personal.goToCalories()"></button>-->
      </li>
    </ul>
    <canvas id="line" height="300" class="chart chart-line" chart-data="personal.data" chart-labels="personal.labels" chart-legend="true" chart-series="personal.series" chart-options="personal.options" chart-click="onClick"></canvas>
  </ion-content>
  <ion-footer-bar align-title="center">
    <h1 class="title">{{personal.footer}}</h1>
  </ion-footer-bar>
</ion-view>
