<ion-view view-title="Reminders">
  <ion-nav-buttons side="left" ng-show="false">
    <button class="button button-icon icon ion-ios-minus-outline" ng-click="settings.toggleDelete()"></button>
    <button class="button button-icon icon ion-ios-gear-outline" ng-click="settings.toggleEdit()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" ng-show="false">
    <label class="toggle toggle-calm">
      <input type="checkbox" ng-model="settings.masterCheck" ng-click="settings.toggleMasterCheck()">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </ion-nav-buttons>
  <ion-content>
    <ion-list class="has-subheader" show-delete="settings.showDelete" show-reorder="settings.showEdit">
      <ion-item class="item item-remove-animate item-toggle" ng-repeat="reminder in settings.testReminders" ng-click="settings.test()">
        <span>{{reminder.time.hours}}:{{reminder.time.minutes}}</span> - <span ng-repeat="day in reminder.days">{{day}} </span>
        <label class="toggle toggle-calm" ng-show="settings.masterCheck && !settings.showDelete">
          <input type="checkbox" ng-model="reminder.check">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <ion-delete-button class="ion-minus-circled" ng-click="settings.onItemDelete(reminder)"></ion-delete-button>
        <ion-reorder-button class="ion-ios-gear" ng-click="settings.onItemEdit(reminder)"></ion-option-button>
      </ion-item>
    </ion-list>
    <ionic-timepicker input-obj="settings.timePickerObject">
      <button class="button button-block overflowShow">
        <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
        Voeg nieuwe reminder toe
      </button>
    </ionic-timepicker>
  </ion-content>
</ion-view>
