<ion-view hide-nav-bar="true">
  <ion-content>
    <ion-list class="has-subheader" show-delete="settings.showDelete" show-reorder="settings.showEdit" ng-show="settings.masterCheck">
      <ion-item class="item item-remove-animate item-toggle" ng-repeat="reminder in settings.reminders" ng-click="settings.test()">
        <span>{{reminder.hour}}:{{reminder.minutes}}</span>
        -
        <span ng-repeat="day in reminder.daysString">{{day}}
        </span>
        <label class="toggle toggle-calm" ng-show="settings.masterCheck && !settings.showDelete" ng-click="settings.toggleReminder(reminder)">
          <input type="checkbox" ng-model="reminder.active">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <ion-delete-button class="ion-minus-circled" ng-click="settings.onItemDelete(reminder)"></ion-delete-button>
        <!--<ion-reorder-button class="ion-ios-gear" ng-click="settings.onItemEdit(reminder)"></ion-option-button>-->
      </ion-item>
    </ion-list>
    <ionic-timepicker input-obj="settings.timePickerObject">
      <button class="button button-block overflowShow" id="timepicker">
        <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
        Voeg nieuwe reminder toe
      </button>
    </ionic-timepicker>
  </ion-content>
  <ion-footer-bar>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline" ng-click="settings.toggleDelete()"></button>
    </div>
    <!--<button class="button button-icon icon ion-ios-gear-outline" ng-click="settings.toggleEdit()"></button>-->
    <h1 class="title"> </h1>
    <div class="buttons">
      <label class="toggle toggle-calm">
        <input type="checkbox" ng-model="settings.masterCheck" ng-click="settings.toggleMasterCheck()">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>
  </ion-footer-bar>
</ion-view>
