/* Empty. Add your own CSS if you like */
.ion-content-personal {
  margin-bottom: 48px;
}

.center {
  margin: auto;
}

.newData {
  color: green;
}

.reminder-off {
  height: 100%;
}

.item-toggle{
  pointer-events:initial !important;
}
